body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.footer-app {
  display: flex;
  background-color: #333;
  color: #fff;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}
